.quizTopic img{
    width: 100%;
    background-color: rgb(233, 223, 223);
}
.quizTopic button{
    text-align: end;
}
.quizTopic  a{
    text-decoration: none;
    color: white;
}
.quizTopic{
    margin: 15px;
}