.quiz-options{
    padding: 2px;
}
.quiz-option{
    padding: 7px;
    background-color: rgb(249, 246, 246);
    margin: 2px;
}
.quiz-option label{
    padding: 5px;
}
.quiz-option label:hover, .quiz-option input:hover{
    cursor: pointer;
}
.quiz-option-true-style{
    color: green;
}
.show-answer-icon{
    cursor: pointer;
}